<p>
    <mat-toolbar color="primary">
      <button mat-icon-button class="icon" aria-label="Menu drop down">
        <mat-icon>more_vert</mat-icon>
      </button>
      <span style="text-shadow: 0.5px 0.5px darkgrey;">{{title}}</span>
      <span class="example-spacer"></span>
      <!-- <div class="button-row">
        <button mat-mini-fab
                aria-label="Add Customer"
                (click)="openDialog(true)"
                style="margin: 0 5px 0 5px; text-shadow: .5px .5px black; color: white; background-color: #28A745">
          <mat-icon>add</mat-icon>
        </button>
      </div> -->
    </mat-toolbar>
  </p>